.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;

  &__img {
    border-bottom: solid black 5px;
  }

  &__name {
    font-size: 21px;
    padding-top: 15px;
  }

  &__species {
    font-size: 18px;
    padding-top: 5px;
  }
}
