.response {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 20px;
    color: #75ff6a;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__gif {
    width: 200px;

    @media (min-width: 500px) {
    width: 400px;
    }

    @media (min-width: 768px) {
      width: auto;
    }
  }
  
}



